# Basic imports

In [1]:
import eugene as eu

from eugene.datasets import deBoer20
from eugene.models import DeepBind

Global seed set to 13

In [3]:
eu.settings.datasetdir = "../_data/datasets/"

In [4]:
eu.settings.datasetdir

'../_data/datasets/'

# Download the deBoer20 dataset

In [18]:
from eugene.dataloading._utils import _read_and_concat_dataframes

In [22]:
files = [
    "/cellar/users/aklie/projects/EUGENe/tests/_data/datasets/deBoer20/GSE104878_20160503_average_promoter_ELs_per_seq_atLeast100Counts.txt.gz",
    "/cellar/users/aklie/projects/EUGENe/tests/_data/datasets/deBoer20/GSE104878_20160503_average_promoter_ELs_per_seq_atLeast100Counts.csv.gz"
]

In [23]:
_read_and_concat_dataframes(files)

                                                     0,1
0      TGCATTTTTTTCACAAGAGCACTTGAAGGGCGCCTATGACAAGGGA...
1      TGCATTTTTTTCACACATATACTTGGGTGACTTAGATATTTGCATG...
2      TGCATTTTTTTCACACATCTGGATTGTCTGGTGTGCTGGTATCTTC...
3      TGCATTTTTTTCACACCACCGTGGGGATTCGCAGCTATGTGCATAA...
4      TGCATTTTTTTCACACCATGGATTTAAGAATTAATCACCGGACAAC...
...                                                  ...
19959  TGCATTTTTTTCACTCTTTCACGTGGGGCCTGCGGGGTATCGGTGA...
19960  TGCATTTTTTTCACTGATGTGGTGCGCGTAATTTCTTTGTTGTGTT...
19961  TGCATTTTTTTCACTTCCAGTAATATGCGAAAGGGTGATGTGAACT...
19962  TGCATTTTTTTCACTTCGCACTCCACTTCTCGGTTTCTGGTATTAT...
19963  TGCATTTTTTTCACTTGCCTGGTACGAACACAGGTATCTTTCGTAA...

[19964 rows x 1 columns]

In [28]:
sdata = deBoer20([0, 6])

Dataset deBoer20 GSE104878_20160503_average_promoter_ELs_per_seq_atLeast100Counts.txt.gz has already been dowloaded.
Downloading deBoer20 GSE104878_20180808_processed_Native80_and_N80_spikein.txt.gz to /cellar/users/aklie/datasets/deBoer20...
Finished downloading GSE104878_20180808_processed_Native80_and_N80_spikein.txt.gz
Processing gzip file...
                                                   0         1  \
0                                                seq  isNative
1  AACTGCATTTTTTTCACATCAAAAAGCGTCCCATAACCCATTATGG...     FALSE
2  AACTGCATTTTTTTCACATCAAAAGCGTAAGTTGCCCCCACGTTTT...     FALSE
3  AACTGCATTTTTTTCACATCAACAGTGTGGCGCTGTGTGGTTTCGA...     FALSE
4  AACTGCATTTTTTTCACATCAGTAAAGCTCCGTTTCTTCCAGTTTT...     FALSE

                  2                 3                 4                 5
0     EL.originalHQ           EL.rep1           EL.rep2       EL.combined
1  5.53443621041227  6.01582188960043  3.13356537988599   5.3747928587784
2  12.9093976179852   12.066980214217  8.91432298428547  11.6688079710966
3  14.2016886849508  12.9450275112129  10.9724846736912  13.6822701313438
4  9.68284540194134  9.03400561516769  5.76362038698236  8.75879666972858
Saving file to /cellar/users/aklie/datasets/deBoer20/GSE104878_20180808_processed_Native80_and_N80_spikein.txt.gz...
Saved file to /cellar/users/aklie/datasets/deBoer20/GSE104878_20180808_processed_Native80_and_N80_spikein.txt.gz

In [29]:
sdata

SeqData object with = 151830 seqs
seqs = (151830,)
names = (151830,)
rev_seqs = None
ohe_seqs = None
ohe_rev_seqs = None
seqs_annot: 'target'
pos_annot: None
seqsm: None
uns: None

In [2]:
sdata = deBoer20(1)

Dataset deBoer20 GSE104878_20160609_average_promoter_ELs_per_seq_Abf1TATA_ALL.shuffled.txt.gz has already been downloaded.

In [4]:
len(sdata

SeqData object with = 27991003 seqs
seqs = (27991003,)
names = (27991003,)
rev_seqs = None
ohe_seqs = None
ohe_rev_seqs = None
seqs_annot: 'target'
pos_annot: None
seqsm: None
uns: None

In [6]:
len(sdata.seqs[0])

115

In [49]:
sdata = deBoer20(6)

Dataset deBoer20 GSE104878_20180808_processed_Native80_and_N80_spikein.csv.gz has already been dowloaded.
Kept 69240 sequences with targets, dropped 1684 sequences with no targets

In [46]:
sdata.seqs_annot

            TARGETS
seq00000  13.708592
seq00001   2.553335
seq00002  13.369969
seq00003   3.328683
seq00004  10.466688
...             ...
seq80900  14.220082
seq80901   6.978840
seq80902   3.917299
seq80903  16.012221
seq80905  14.126017

[79222 rows x 1 columns]

In [12]:
sdata.seqs = None

In [11]:
eu.pp.ohe_seqs_sdata(sdata)
sdata

HBox(children=(FloatProgress(value=0.0, description='One-hot encoding sequences', max=27991003.0, style=Progreâ€¦

SeqData object modified:
	ohe_seqs: None -> 27991003 ohe_seqs added

SeqData object with = 27991003 seqs
seqs = (27991003,)
names = (27991003,)
rev_seqs = None
ohe_seqs = (27991003, 4, 127)
ohe_rev_seqs = None
seqs_annot: 'target'
pos_annot: None
seqsm: None
uns: None

In [51]:
len(sdata.seqs[2])

120

In [52]:
sdata = eu.datasets.random1000()

Kept 1000 sequences with targets, dropped 0 sequences with no targets

In [53]:
sdata.seqs_annot

         TARGETS
seq000  0.866168
seq001  0.800737
seq002  0.703108
seq003  0.465782
seq004  0.676781
...          ...
seq995  0.001721
seq996  0.617911
seq997  0.565960
seq998  0.293470
seq999  0.205779

[1000 rows x 1 columns]